---
layout: default
title: Blog
---
<div class="posts-container">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {% for post in paginator.posts %}
  <div class="post">
    <p class="post-meta">
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: date_format }}
      </time>
      {%- if post.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ post.author }}</span></span>
      {%- endif -%}
      {%- if post.categories.size > 0 -%}
      <span class="post-categories">
        {%- for cat in post.categories -%}
        <a class="category-badge" href="/list?cat={{ cat | url_encode }}">{{ cat }}</a>
        {%- endfor -%}
      </span>
      {%- endif -%}
    </p>
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="post-body">{{ post.excerpt }}{% if post.content.size > post.excerpt.size %}<a href="{{ post.url }}"
        class="read-more">Read Full Post</a>{% endif %}</div>
  </div>
  {% endfor %}
</div>
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous">
    Prev
  </a>
  {% else %}
  <span class="previous">Prev</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next ">Next</span>
  {% endif %}
</div>